@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@font-face {
  font-family: 'Cupertino';
  src: url('/assets/Cupertino.ttf');
}

@font-face {
  font-family: 'Monaco';
}

* {
  font-family: 'Monaco';
}

#welcome {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  text-decoration: none;
  font-style: normal;
}

#welcome {
  font-family: 'Cupertino';
  text-align: left;
  text-decoration: none;
  font-style: normal;
  color: #EB3E37;
}

#welcome p {
  font-family: 'Monaco';
  text-align: left;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
}

#welcome h1 {
  font-family: 'Cupertino';
  display: block;
  margin-block-start: 0.2em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 0.8em;
  font-weight: bold;
  font-size: 230pt;
  animation-duration: 2s;
  animation-name: bounceIn;
  animation-fill-mode: forwards;
  /* animation-direction: reverse; */
}

#welcome h2 {
    display: block;
    font-family: 'Cupertino';
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 80pt;
}

#welcome a {
    font-family: 'Cupertino';
    text-align: center;
    text-decoration: none;
    font-style: normal;
    color: #0E2B3F;
    font-size: 20pt;
    background-color: lightgreen;
    padding: 7px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    /* animation-duration: 2s;
    animation-name: bounceIn;
    animation-direction: reverse; */
    }

#welcome a:visited {
  font-family: 'Cupertino';
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  background-color: lightgreen;
  padding: 7px 12px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
    }

#welcome a:hover {
color: #EB3E37;
text-decoration: underline;
}

#welcome a:active {
color: blue;
text-decoration: underline;
}

#standard_page {
  width: 90%;
  margin: 0 auto;
  font-family: 'Monaco';
}

#standard_page h1 {
    display: block;
    font-family: 'Cupertino';
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 140pt;
}

#standard_page h2 {
    display: block;
    font-family: 'Cupertino';
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 60pt;
}

#standard_page p {
    display: block;
    font-family: 'Monaco';

    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 20pt;
}

#standard_page label {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#standard_page input {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#standard_page a:link {
  font-family: 'Monaco';
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  border: 2px black solid;
  background-color: lightgreen;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

#standard_page a:visited {
  font-family: 'Monaco';
  text-decoration: none;
  color: #58B99D;
}

#standard_page a:hover {
  color: #EB3E37;
  text-decoration: underline;
}

#standard_page a:active {
  color: blue;
  text-decoration: underline;
}

#homepage {
  width: 90%;
  margin: 0 auto;
}

#homepage h1 {
    font-family: 'Cupertino';
    text-align: left;
    text-decoration: none;
    font-style: normal;
    color: #EB3E37;
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 110pt;
}

#homepage h2 {
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 30pt;
}

#homepage p {
    display: block;
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 20pt;
}

#homepage li {
    display: block;
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 20pt;
}

#homepage label {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#homepage input {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#homepage a:link {
  font-family: 'Cupertino';
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  background-color: lightgreen;
  padding: 7px 12px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

#homepage a:visited {
  font-family: 'Cupertino';
  text-decoration: none;
  color: #0E2B3F;
}

#homepage a:hover {
  color: #EB3E37;
  text-decoration: underline;
}

#homepage a:active {
  color: blue;
  text-decoration: underline;
}

#story {
  width: 90%;
  margin: 0 auto;
}

#story img {
  -webkit-filter: invert(1);
  filter: invert(1);
  }

#story h1 {
    font-family: 'Cupertino';
    text-align: left;
    text-decoration: none;
    font-style: normal;
    color: #EB3E37;
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 110pt;
    animation-duration: 2s;
    animation-name: bounceIn;
    animation-fill-mode: forwards;
}

#story h2 {
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 30pt;
}

#story p {
    display: block;
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: none;
    font-size: 20pt;
}

#story li {
    display: block;
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 20pt;
}

#story label {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#story input {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#story a:link {
  font-family: 'Cupertino';
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  background-color: lightgreen;
  padding: 7px 12px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

#story a:visited {
  font-family: 'Cupertino';
  text-decoration: none;
  color: #0E2B3F;
}

#story a:hover {
  color: #EB3E37;
  text-decoration: underline;
}

#story a:active {
  color: blue;
  text-decoration: underline;
}


#form {
  width: 90%;
  margin: 0 auto;
}

#form h1 {
    font-family: 'Cupertino';
    text-align: left;
    text-decoration: none;
    font-style: normal;
    color: #0E2B3F;
    display: block;
    line-height: 1em;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 80pt;
}

#form h2 {
      font-family: 'Cupertino';
      display: block;
      margin-block-start: 0.4em;
      margin-block-end: 0.4em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      color: #EB3E37;
      font-size: 60pt;
}

#form p {
    display: block;
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: none;
    color: #0E2B3F;
    font-size: 20pt;
}

#form li {
    background: #B0D8C3;
    display: block;
    width: 45%;
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    color: #0E2B3F;
    font-size: 20pt;
}

#form label {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        color: #0E2B3F;
    font-size: 20pt;
}

#form select {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0E2B3F;
    font-size: 20pt;
}

#form input {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#form a:link {
  font-family: 'Cupertino';
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  background-color: lightgreen;
  padding: 7px 12px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

#form a:visited {
  font-family: 'Cupertino';
  text-decoration: none;
  color: #0E2B3F;
}

#form a:hover {
  color: #EB3E37;
  text-decoration: underline;
}

#form a:active {
  color: blue;
  text-decoration: underline;
}

#header input {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}


#header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: left;
  justify-content: left;
}

.pull-right {
  float:right;
}

#header h1 {
    font-family: 'Cupertino';
    text-align: left;
    text-decoration: none;
    font-style: normal;
    color: #EB3E37;
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 110pt;
}

#header h2 {
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 30pt;
}

#header p {
    display: block;
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 20pt;
}

#header li {
    display: block;
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 20pt;
}

#header label {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#header input {
    font-family: 'Monaco';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#header a:link {
  font-family: 'Cupertino';
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  background-color: lightgreen;
  padding: 7px 12px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}



#header a:visited {
  font-family: 'Cupertino';
  text-decoration: none;
  color: #0E2B3F;
}

#header a:hover {
  color: #EB3E37;
  text-decoration: underline;
}

#header a:active {
  color: blue;
  text-decoration: underline;
}
